/*CSS styling for fragile express*/

body {
  font-family: 'Nunito', sans-serif;
  background-color: #ffffff;
  color: #555555;
  margin: 0;
}

.centerpiece {
  text-align: center;
  max-width: 70%;
  height: auto;
  position: relative;
  display: block;
  margin: 0 auto;
}

.centerpiece p {
  margin:0 auto;
}

.medium-paragraph {
  max-width: 60%;
}

/*.centerpiece img {
  width:100% !important;
  height:100% !important;
  display:block;
}*/

.main-body-content {
  max-width: 70%;
  height: auto;
  position: relative;
  display: block;
  margin:0 auto;
}

.flex-body-content {
  display: flex;
  flex-wrap: wrap;
}

.three-body-content {
  width: 30%;
  margin: 0 3% 2% 0
}

.three-body-content h3 {
  margin-top: 5px;
}

.title {
	margin-bottom: 5px;
}

.subtitle {
	margin-top: 5px;
	margin-bottom: 30px;
}

header {
  padding: 20px 0;
  border-bottom: 1px solid #c2c2c2;
}

.header-content {
  max-width: 85%;
  font-size: 1.3em;
  display: flex;
  margin: 0 auto; 
  font-weight: 600;
}

.header-link {
  margin-left: 20px;
  align-self: flex-end;
  font-size: 0.8em;
}

footer {
  background-color: #f2f2f2;
  padding: 20px 0;
}

.footer-content {
  max-width: 85%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.spacer {
  height: 100px;
  width: 100%;
}

.small-spacer {
  height: 25px;
  width: 100%;
}

a {
	color: #0186B6;
}

h1 {
	font-size: 2.5em;
  font-weight: 400;
}

h3 {
	font-size: 24px;
}

p {
  font-size: 18px;
}

.big-sponsor {
  font-size: 1.4em;
}

hr {
  margin: 50px 0;
  opacity: 0.2;
}

@media only screen and (max-width: 767px) {
  .centerpiece {
    text-align: center;
    max-width: 90%;
    height: auto;
    position: relative;
    display: block;
    margin:0 auto;
  }
  .main-body-content {
    max-width: 90%;
  }
  .three-body-content {
    width: 45%;
    margin: 0 5% 0 0;
  }
  .centerpiece p, .medium-paragraph {
    max-width: 80%;
  }
  h1 {
		font-size: 2.4em;
	}
}

@media only screen and (max-width: 600px) {
  .centerpiece {
    text-align: center;
    max-width: 90%;
    height: auto;
    position: relative;
    display: block;
    margin:0 auto;
  }
  .centerpiece p, .medium-paragraph {
    max-width: 100%;
  }
  .three-body-content {
    width: 100%;
  }
}

